@media screen and (min-width: 700px) {
:root {
    --primary-color: #114B56;
    --secondary-color: #489FB5;
    --accent1-color: #82C0CC;
    --accent2-color: #EDE7E3;
  
    --heading-font: Gideon Roman;
    --paragraph-font: Lato;
  
    --headline-color-on-white: #114B56;  /* headlines on a white background */ 
    --headline-color-on-color: #EDE7E3; /* headlines on a colored background */ 
    --paragraph-color-on-white: #489FB5; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #EDE7E3; /* paragraph text on a colored background */ 
    --paragraph-background-color: #114B56  ;
    --nav-link-color: #EDE7E3;
    --nav-background-color: #489FB5;
    --nav-hover-link-color: #EDE7E3;
    --nav-hover-background-color: #114B56;
  }
    #hamburger {
        display: none;
    }

    #nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        float: right;
        margin: 0;
        text-align: center;
        padding: 0;
        min-width: 35%;
        justify-content: space-between;
    }
    .images-caption {
        display: flex;
        flex-direction: row;
         align-content: center;
         justify-content: space-evenly;
     }

     .card-image{
        float: right;
        width: 500px;
        margin: 50px;
        border: solid #104D71;
        box-shadow: 10px 10px 10px 10px;
     }
     img{
      border: solid #104D71;
     }
     
        

.icon2{
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 50px;
    right: 50px;
    min-width: 80px;
    height: 80px;
}
  
  /* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } 
  .header-text{
    font-family: Gideon Roman;
    text-transform: uppercase;
    background-image: linear-gradient(
    -200deg,
    #0B4450 10%,
    #36d7cf 29%,
    #d9d9d9 67%,
    #c72bdf 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 30px;
    text-shadow: 3px 0.5px 1px black;
    
  }
  figcaption{
    font-size: 30px;
    font-family: Lato;
    margin: 50px;
    color: var(--headline-color-on-white);
  }
 
  
  .social{
    justify-content: space-evenly;
  }
}