
@media screen and (max-width: 500px) {
    header {
    
        text-align: center;
    }

    nav ul {
        justify-content: space-evenly;
        text-align: center;
		display: block;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }
    
    main{
        display: block;
        width: fit-content;
    }
      .left-column, .right-column {
        width: fit-content;
        margin: 30px;
    
      }    
}